* { margin: 0; padding: 0;}
li {list-style: none;}
img {display: block;}
a {text-decoration: none;}





.header {
    width: 100%; height: 120px;
    background-color: #f6f5f0;
    position: fixed;
    top: 0; left: 0;

    z-index: 1;
}

.inner_header {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    /* border: 1px solid #333; box-sizing: border-box; */
}

.logo_box {
    padding: 23px 0;
}

.gnb_box {
    display: flex;
    margin-top: 10px;
}

.gnb_box .gnb {
    display: flex;
    margin-right: 16px;
    margin-left: auto;
}

.gnb_box .gnb li a {
    color: #333;
    font-size: 13px;
    line-height: 30px;
}

.gnb_box .gnb li:hover {
    text-decoration: underline;
}

.gnb_box .gnb li ~ li::before {
    content: "";
    width: 1px;
    height: 13px;
    background-color: #333;
    opacity: 0.1;
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px;
}

#search_box {
    position: relative;
}

#search {
    width: 40px; height: 30px;
    border-radius: 10px;
    transition: width 0.3s;
    margin-right: 30px;
}

#search:focus {
    width: 200px;
}

#searchIcon {
    position: absolute;
    top: 50%; right: 35px;
    transform: translateY(-55%);
    color: #333;
}

/* gnb */


/* lnb */


.lnb_box {

}

.lnb_box .main_menu {
    display: flex;
    margin-top: 20px;
}

.lnb_box .main_menu .item .item__name {
    /* margin-left: 30px; */
    padding: 10px 20px 28px;
    font-size: 14px;
}

.lnb_box .main_menu .item:hover {
    color: #62a61d;
    text-decoration: underline;
    cursor: pointer;
    background-color: #2b2a28;
}

.lnb_box .main_menu .item .item__contents {
    position: absolute;
    top: 120px; left: 0;
    width: 100%; height: auto;
    background-color: #2b2a28;

    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.lnb_box .main_menu .item:hover .item__contents {
    height: auto;
}

.lnb_box .main_menu .item .item__contents .contents__menu {
    width: 1100px;
    height: auto;
    margin: 0 auto;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner {
    display: flex;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li {
    flex: 1;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li h4 {
    color: white;
    font-size: 14px;
    margin: 20px 0;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li h4:hover {
    text-decoration: underline;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li ul {
    margin-bottom: 20px;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li ul li {
    color: #98999b;
    font-size: 12px;
    line-height: 20px;
}

.lnb_box .main_menu .item .item__contents .contents__menu .inner li ul li:hover {
    text-decoration: underline;
}

/* lnb menu */


/* lnb 하단 */

.lnb_box .main_menu .item .item__contents .contents__texture {
    background: url(../img/main_menu_pattern.jpg);
}

.lnb_box .main_menu .item .item__contents .contents__texture .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;
}

.lnb_box .main_menu .item .item__contents .contents__texture .inner h4 {
    color: #939aa2;
}

.lnb_box .main_menu .item .item__contents .contents__texture .inner h4 img {
    display: inline-block;
}

.lnb_box .main_menu .item .item__contents .contents__texture .inner h4:hover {
    text-decoration: underline;
}

.lnb_box .main_menu .item .item__contents .contents__texture .inner p {
    color: #62a61d;
    margin-bottom: 10px;
}

/* lnb */



/* top_btn */

.top_btn {
    width: 50px; 
    height: 50px;
    background-color: #592b18;
    color: white;
    font-weight: bold;
    line-height: 50px;
    position: fixed;
    bottom: 200px;
    right: 100px;
    cursor: pointer;
    text-align: center;
    z-index: 10;
}

/* top_btn */


/* main_visual */

.main_visual {
    margin-top: 120px;
    width: 100%; height: 650px;
    background: url(../img/visual_bg.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.main_visual .banner_box {
    width: 1100px; height: 650px;
    margin: 0 auto;
    position: relative;
}

.main_visual .banner_box .v_box {
    position: absolute;
    opacity: 0;
}

.main_visual .banner_box .visual_box01 {
    left: 0; 
    top: 70px;
    text-align: center;
}
.main_visual .banner_box .visual_box01 .btn_box {
    margin-top: 20px;
}

.main_visual .banner_box .visual_box02 {
    right: 0; 
    bottom: 0;
    display: flex;
}
.main_visual .banner_box .visual_box02 .img_t1 {
    margin-top: -30px;
    margin-right: -40px;
}

.main_visual .banner_box .visual_box03 {
    right: 200px;
    bottom: 0;
    display: flex;
}
.main_visual .banner_box .visual_box03 .img_t2 {
    padding-top: 170px;
    margin-right: -10px;
}

.main_visual .banner_box .visual_box04 {
    left: 40%;
    transform: translateX(-50%);
    bottom: 0;
}

/* .main_visual .banner_box .img_t1 {
    top: 40px;
    right: 220px;
} */

/* .main_visual .banner_box .img_t2 {
    left: 47%;
    transform: translateX(-50%);
    bottom: 230px;
}

.main_visual .banner_box .img_t3 {
    top: 50px;
    left: 0;
}


.main_visual .banner_box .btn_box {
    top: 300px;
    left: 185px;
} */



.main_visual .banner_box .btn_box button {
    color: #592b18;
    border: 2px solid #592b18;
    border-radius: 5px;
    background: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.4s;
}

.main_visual .banner_box .btn_box button:hover {
    background-color: #592b18;
    color: #fcfcfc;
    text-decoration: underline;
}



/* main_visual */


/* badge */

.badge {
    position: fixed;
    top: 150px;
    right: 0;

    z-index: 10;
}

.badge div {
    margin: 10px 5px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}



/* badge */


/* promotions */

.promotions .labol_box {
    display: flex;
    height: 50px;
    overflow: hidden;
}

.promotions .labol_box i {
    cursor: pointer;
}

.promotions .labol_box .notice {
    flex: 4;
    background-color: #2b2a28;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 15px;
    font-size: 14px;
    height: 50px;
}

.promotions .labol_box .notice .swiper-slide {
    padding: 0 20px;
}

.promotions .labol_box .notice .swiper-slide a {
    color: #fcfcfc;

}

.promotions .labol_box .notice i {
    font-size: 20px;
}



.promotions .labol_box .promotion {
    flex: 3;
    background-color: #f6f5ef;
    padding: 15px;
    text-align: center;
}

#promotionBtn {
    display: none;
}

#promotionBtn:checked ~ .promotions_box .swiper .swiper-wrapper {
    height: 520px;
}
#promotionBtn:checked ~ .labol_box .promotion h4 i {
    transform: rotate(-180deg);
}

.promotions .labol_box .promotion h4 {
    cursor: pointer;
}

.promotions .labol_box .promotion h4 i {
    transition: 0.5s;
}

.promotions .promotions_box .swiper .swiper-wrapper {
    height: 0;
    transition: 0.5s;
}

.promotions .promotions_box .swiper .swiper-wrapper .swiper-slide {
    /* background-color: #f6f5ef; */
    padding: 50px 0;
    opacity: 0.5;
}
.promotions .promotions_box .swiper .swiper-wrapper .swiper-slide-active {
    opacity: 1;
}

.promotions .promotions_box .swiper-slide a {
    position: relative;
    width: 819px;
    height: 690px;
}

.promotions .promotions_box .swiper .swiper-wrapper .swiper-slide a img {
    width: 100%;
}

.promotions_box .swiper-pagination-bullet-active {
    background-color: #272727;
}

.promotions_box .swiper-button-prev,
.promotions_box .swiper-button-next {
    color: #62a61d;
}


.promotions .promotions_box .swiper .swiper-wrapper .swiper-slide a button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.4s;
}

.promotions .promotions_box .swiper .swiper-wrapper .swiper-slide a button:hover {
    background-color: #333;
    color: #fcfcfc;
    text-decoration: underline;
}


/* promotions */


/* rewards */


.rewards {
    background: linear-gradient( 90deg, #272727 50%, #d5c798 50%);
    position: relative;
}

.rewards .rewards_img img {
    margin: 0 auto;
}

.rewards .rewards_img .btn_box {
    position: absolute;
    bottom: 30px; 
    right: 22%;
}

.rewards .rewards_img .btn_box button {
    color: #272727;
    border: 2px solid #272727;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}

.rewards .rewards_img .btn_box button:hover {
    text-decoration: underline;
}

.rewards .rewards_img .btn_box .join_btn {
    width: 100px;
    margin-right: 5px;
    background-color: #272727;
    color: #fcfcfc;
}

.rewards .rewards_img .btn_box .login_btn {
    width: 100px;
}

.rewards .rewards_img .btn_box .gift_btn {
    width: 210px;
    margin-top: 10px;
}


/* rewards */


/* movieBg */


.movieBg {
    /* padding: 350px 0; */
}

.movieBg .img_box {
    width: 100%;
    height: 700px;
    background-image: url(../img/video_cover_pattern.png);
    position: relative;
}

.movieBg .img_box .img01 {
    position: absolute;
    top: 60px;
    left: 20%;
}

.movieBg .img_box .img02 {
    position: absolute;
    top: 370px;
    left: 30%;
}
.movieBg .img_box .img03 {
    position: absolute;
    bottom: -50%;
    transform: translateY(-60%);
    right: 25%;
}


.badgeEl {
    opacity: 0;
    transition: all 1s;
    transform: translateY(200px);
}

.up .badgeEl {
    opacity: 1;
    transform: translateY(0);
}

.up .badgeEl.delay_01 {
    transition-delay: 0.3s;
}
.up .badgeEl.delay_02 {
    transition-delay: 0.6s;
}
.up .badgeEl.delay_03 {
    transition-delay: 1s;
}


/* movieBg */


/* season_product */

.season_product {
    background: url(../img/season_product_bg.jpg);
    width: 100%;
    height: 620px;
}

.season_product .season_product_inner {
    width: 1100px;
    height: 620px;
    position: relative;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.season_product .product_img {
    /* position: absolute; */
}

.season_product .product_text_box {
    /* position: absolute;
    right: 0; */
}

.season_product .product_text_box .product_text01 {
    margin-bottom: 20px;
}

.season_product .product_text_box .product_text02 {
    margin-bottom: 50px;
}

.season_product .season_product_inner button {
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 7px 20px;
    font-size: 18px;
    transition: 0.4s;
}

.season_product .season_product_inner button:hover {
    background-color: #333;
    color: #fcfcfc;
    text-decoration: underline;
}






/* Res product */

/* product */

.product {
    /* height: 300px;
    border: 1px solid #333; */
    /* position: relative; */
}

.product .product_left {
    /* width: 200px;
    height: 200px;
    background-color: #ccc; */
    /* position: absolute;
    top: 50px;
    left: 100px; */
}

.product .product_right {
    /* width: 200px;
    height: 200px;
    background-color: #ccc; */
    /* position: absolute;
    top: 50px;
    right: 100px; */
}



/* event */


.event .event_top {
}

.event .event_bottom {
}

/* Origin_product & event */

.origin {
    opacity: 0;
    transition: all 1s;
}
.origin.position_left {
    transform: translateX(-150px);
}
.origin.position_right {
    transform: translateX(150px);
}

.show .origin {
    opacity: 1;
    transform: translateX(0);
}
.show .origin.delay_00 {
    transition-delay: 0s;
}
.show .origin.delay_01 {
    transition-delay: 0.3s;
}
.show .origin.delay_02 {
    transition-delay: 0.3s;
}
.show .origin.delay_03 {
    transition-delay: 0.6s;
}
.show .origin.delay_04 {
    transition-delay: 0.9s;
}


/* season_product */


/* starbucks_reserve */

.starbucks_reserve {
    background: url(../img/reserve_bg.jpg);
    width: 100%;
    height: 400px;
}

.starbucks_reserve .starbucks_reserve_inner {
    width: 1100px;
    height: 400px;
    margin: 0 auto;
    /* position: relative; */

    display: flex;
    align-items: center;
}

.starbucks_reserve .starbucks_reserve_inner .reserve_logo_img {
    /* position: absolute; */
    flex: 1;
    padding-left: 200px;
}

.starbucks_reserve .starbucks_reserve_inner .reserve_text_box {
    /* position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%); */

    /* border: 1px solid #333; */
    flex: 2;
}

.starbucks_reserve .starbucks_reserve_inner .reserve_text_box button {
    color: #a6836c;
    border: 2px solid #a6836c;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 7px 20px;
    font-size: 18px;
    transition: 0.4s;
}

.starbucks_reserve .starbucks_reserve_inner .reserve_text_box button:hover {
    background-color: #a6836c;
    color: #fcfcfc;
    text-decoration: underline;
}

/* starbucks_reserve */


/* favorite */

.favorite {
    padding: 100px 0;
    background: url(../img/favorite_bg.jpg) no-repeat fixed center center/cover;
}

.favorite .favorite_inner {
    width: 45%;
}

.favorite .img_box {
    text-align: end;
}

.favorite .img_box>div {
    margin-bottom: 40px;
}

.favorite .img_box>div img {
    margin-left: auto;
}

.favorite .img_box button {
    color: #e0dfe1;
    border: 1px solid #e0dfe1;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 7px 20px;
    transition: 0.4s;
}

.favorite .img_box button:hover {
    background-color: #e0dfe1;
    color: #333;
    text-decoration: underline;
    font-weight: bold;
}


/* favorite */




/* reserve_store */


.reserve_store {
    background: url(../img/reserve_store_bg.jpg) no-repeat center;
    width: 100%;
    height: 500px;
    /* position: relative; */
    display: flex;
}

.reserve_store .logo_img {
    margin: 100px auto 0;
}

.reserve_store .logo_img:hover {
    transform: rotateY(1080deg);
    transition: 1.8s;
}


/* reserve_store */


/* starbucks_store */

.starbucks_store {
    background: url(../img/find_store_bg.jpg);
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.starbucks_store .starbucks_store_inner {
    width: 1480px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

.starbucks_store .starbucks_store_inner>div {
    position: absolute;
}

.starbucks_store .starbucks_store_inner .beans_img {
    top: 0;
    left: 55%;
    transform: translateX(-50%);
}

.starbucks_store .starbucks_store_inner .store_img {
    right: 150px;
    bottom: 0;
}

.starbucks_store .starbucks_store_inner .photo_img01 {
    top: -40px;
    left: 250px;
    border-radius: 175px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.5);
}

.starbucks_store .starbucks_store_inner .photo_img02 {
    top: 170px;
    left: 520px;
    border-radius: 108px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.5);
}



.starbucks_store .starbucks_store_inner .text_img_box {
    top: 50%;
    transform: translateY(-50%);
    left: 60%;
}

.starbucks_store .starbucks_store_inner .text_img_box .text_img01 {
    margin-bottom: 20px;
}

.starbucks_store .starbucks_store_inner .text_img_box .text_img02 {
    margin-bottom: 30px;
}

.starbucks_store .starbucks_store_inner .text_img_box button {
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 7px 30px;
    font-size: 18px;
}

.starbucks_store .starbucks_store_inner .text_img_box button:hover {
    background-color: #333;
    color: #fcfcfc;
    text-decoration: underline;
    transition: 0.4s;
}


/* starbucks_store */




/* footer */

.footer {
    background-color: #2b2a28;
    padding: 60px 0;
}

/* footer_top */

.footer_top {
    padding-bottom: 90px;
}

.footer_top .footer_top_inner {
    width: 1480px;
    margin: 0 auto;
    display: flex;
}

.footer_top .footer_top_inner>div {
    flex: 1;
    color: #e0dfe1;
}

.footer_top_inner div h5 {
    margin-bottom: 20px;
}

.footer_top_inner div h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer_top_inner div ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer_top_inner div ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer_top_inner .logo_img img {
    padding-right: 120px;
    transform: rotate(270deg);
}

/* footer_top */

/* footer_slider */

.footer_slider {
    background-color: #282828;
    width: 100%;
    height: 130px;
}

.footer_slider .footer_slider_inner {
    width: 1480px;
    margin: 0 auto;
}

.footer_slider .footer_slider_inner .swiper-container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    position: relative;
}

.footer_slider .footer_slider_inner .swiper-container .swiper-button-prev {
    color: white;
}
.footer_slider .footer_slider_inner .swiper-container .swiper-button-next {
    color: white;
}

.footer_slider .footer_slider_inner .swiper-container .swiper-wrapper {
    /* display: flex; */
}

.footer_slider .footer_slider_inner .swiper-container .swiper-wrapper .swiper-slide {
    padding: 0 20px;
}

/* footer_slider */


/* footer_bottom */

.footer_bottom {
    text-align: center;
    color: #9c99a2;
}

.footer_bottom .list {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #e0dfe1;
    cursor: pointer;
}

.footer_bottom .list .green {
    color: #62a61d;
}

.footer_bottom .list li:hover {
    text-decoration: underline;
}

.footer_bottom .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #9c99a233;
    vertical-align: middle;
    margin: 0 15px;
}


.footer_bottom .button {
    display: flex;
    justify-content: center;
}

.footer_bottom .button li {
    color: #e0dfe1;
    border: 2px solid #e0dfe1;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 7px 25px;
    font-size: 13px;
    margin: 20px 5px 30px;
}

.footer_bottom .button li:hover {
    text-decoration: underline;
}

.footer_bottom p {
    font-size: 12px;
    margin-bottom: 30px;
}

.footer_bottom .logo_img {
    width: 142px;
    margin: 0 auto;
}

/* footer_bottom */
